{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau stagiaire{% endblock %}

{% block body %}

    {# Condition pour gérer le titre selon si on créer ou l'on modifie un stagiaire #}
    {% if edit %}

        <h1>Modifier les informations</h1>

    {% else %} 

        <h1>Ajouter un stagiaire</h1>

    {% endif %}

    <div class="formAdd">

        {# Affiche le formulaire #}

        {# {{form(formAddStagiaire)}} #}

        {{form_start(formAddStagiaire)}}

            {{ form_row(formAddStagiaire.nom) }}
            {{ form_row(formAddStagiaire.prenom) }}
            {{ form_row(formAddStagiaire.genre) }}
            {{ form_row(formAddStagiaire.ville) }}
            {{ form_row(formAddStagiaire.mail) }}
            {{ form_row(formAddStagiaire.telephone) }}
            {{ form_row(formAddStagiaire.date_naissance) }}
            
            <h2>SESSION</h2>

            {# <div class="choixSession"> #}
                {{ form_row(formAddStagiaire.sessions) }}
            {# </div> #}

        {{ form_end(formAddStagiaire) }}

    </div>

    <a class="btn btn-dark" href="{{ path ('app_stagiaire') }}">RETOUR</a>
 
    <figure>
        <img class="fond" src="{{asset('img/addStudent.jpg')}}" alt="Ascensseur">
    </figure>
    
{% endblock %}
