{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    
    <div class="addStudent">
        <h1>CATEGORIES</h1>

        {% if is_granted('ROLE_ADMIN') %}
        {# Seul l'admin peut ajouter une nouvelle catégorie #}
        <a href="{{ path ('new_categorie') }}">AJOUTER</a>
        {% endif %}

    </div>

    {# BDD L'élément de la collection #}
    {# Créer une boucle for #}
    {% for categorie in categories %}

        {# BDD nom de l'objet . pour accéder à un attribu précis #}
        {# BDD on utilise le nom de Categorie.php dans Entity plutôt que celui de la BDD #}
        {# {{categorie}}<br> #}

        {# Grâce à la fonction __toString() crée dans Categorie.php de Entity, la ligne ci dessous remplace la ligne ci dessus #}

        {# Pour rendre les éléments de la liste cliquable il suffit de mettre ceux-ci dans une balise a
        placer lien {{ path ('show_categorie') }} dans le href et ajouter l'ID pour récupérer l'objet categorie #}

        <div class="students">

            <a href="{{ path ('show_categorie', {id: categorie.id}) }}">{{ categorie }}</a>

            {# Seul l'admin peut modifier ou supprimer une catégorie #}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-dark" id="valid" href="{{ path ('edit_categorie', {id: categorie.id}) }}">MODIFIER</a>
                <a class="btn btn-dark" id="valid" href="{{ path ('delete_categorie', {id: categorie.id}) }}">SUPPRIMER</a>
            {% endif %}

        </div>

        
        <figure>
            <img class="fond" src="{{asset('img/categories.jpg')}}" alt="Rangées de livres dans une bibliothèque ">
        </figure>

    {% endfor %}

    <a id="back" class="btn btn-dark" href="{{ path ('app_menu') }}">RETOUR</a>

{% endblock %}
