<h1>Demande d'admission en formation</h1>

<h2>Nouveau stagiaire</h2>><br>

<p>Nom:{{stagiaire.nom|raw}}</p><br>
<p>Prenom:{{stagiaire.prenom|raw}}</p><br>
<p>Genre:{{stagiaire.genre|raw}}</p><br>
<p>Ville:{{stagiaire.ville|raw}}</p><br>
<p>Mail:{{stagiaire.mail|raw}}</p><br>
<p>Téléphone:{{stagiaire.telephone|raw}}</p><br>
<p>Date de Naissance:{{stagiaire.date_naissance|raw}}</p><br>

<br><p>Connectez vous pour ajouter ce stagiaire</p><br>
<a href="{{ absolute_url(path('app_login')) }}">Connexion</a>
    