{% extends 'base.html.twig' %}

{% block title %}Afficher les sessions à venir{% endblock %}

{% block body %}

    <h1>Sessions à venir</h1> 
    

    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>

        {# BDD L'élément de la collection #}
        {# Créer une boucle for #}  
        {% for futurSession in futurSessions %}

            {# BDD nom de l'objet . pour accéder à un attribu précis #}
            {# BDD on utilise le nom de Session.php dans Entity plutôt que celui de la BDD #}
            {# {{session.formation}}<br> #}

            {# Grâce à la fonction __toString() crée dans Session.php de Entity, la ligne ci dessous remplace la ligne ci dessus #}

            {# Pour rendre les éléments de la liste cliquable il suffit de mettre ceux-ci dans une balise a
            placer lien {{ path ('show_session') }} dans le href et ajouter l'ID pour récupérer l'objet session #}
            
            <tbody>
                <tr>
                    <td>{{futurSession}}</td>
                    <td>{{futurSession.dateDebut | date("d-m-Y")}}</td>
                    <td>{{futurSession.dateFin | date("d-m-Y")}}</td>
                </tr>  
            </tbody>

        {% endfor %}

    </table>
    
    {% for futurSession in futurSessions %}

        {% if futurSession  %}

            <a class="btn btn-dark" href="{{ path ('new_stagiaire') }}">S'inscrire</a>

        {% else %}

        {% endif %}

    {% endfor %}


    <a class="btn btn-dark" href="{{ path ('app_session') }}">RETOUR</a>

    <figure>
        <img class="fond" src="{{asset('img/periode.jpg')}}" alt="Parking">
    </figure>

{% endblock %}
