{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

    {% if app.user %}
                    
        <a href="{{ path ('app_home') }}">ACCUEIL</a>
        <a href="{{ path ('app_categorie') }}">CATEGORIES</a>
        <a href="{{ path ('app_matiere') }}">MODULES</a>
        <a href="{{ path ('app_session') }}">SESSIONS</a>
        <a href="{{ path ('app_stagiaire') }}">STAGIAIRES</a>
        <a href="{{ path ('app_logout') }}">DECONNEXION</a>
        
        <a href="https://elan-formation.fr/accueil"><img class="logoElan" src="{{ asset('img/logoElan.jpg') }}" alt="logo Elan Formation" title="Découvrir le centre de formation"></a>
        
        {% else %}
        
        <a href="{{ path ('app_home') }}">ACCUEIL</a>
        <a href="{{ path ('app_register') }}">INSCRIPTION</a>
        <a href="{{ path ('app_login')}}">CONNEXION</a>
        <a href="https://elan-formation.fr/accueil"><img class="logoElan" src="{{ asset('img/logoElan.jpg') }}" alt="logo Elan Formation" title="Découvrir le centre de formation"></a>
         

    {% endif %}

{% endblock %}
