{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

    <div class="addStudent">

        <h1>FORMATIONS</h1>

        {% if is_granted('ROLE_ADMIN') %}
            {# Lien pour ajouter une nouvelle formation #}
            <a href="{{ path ('new_formation') }}">AJOUTER</a>
        {% endif %}

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Description</th>
            </tr>
        </thead>
        
        {# BDD L'élément de la collection #}
        {# Créer une boucle for #}
        
        {% for formation in formations %}
           
            <tbody>
                <tr>
                    <td>
                        <a class="btn btn-dark" href="{{ path ('show_formation', {id: formation.id}) }}">{{ formation }}</a><br>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-dark" href="{{ path ('edit_formation', {id: formation.id}) }}">MODIFIER</a>
                            <a class="btn btn-dark" href="{{ path ('delete_formation', {id: formation.id}) }}">SUPPRIMER</a>
                        {% endif %}
                        
                    </td>
                        
                    <td>{{formation.description}}</td>
                </tr>  
            </tbody>
        
        {% endfor %}

    </table>

    <a class="btn btn-dark" href="{{ path ('app_menu') }}">RETOUR</a>

    <figure>
        <img class="fond" src="{{asset('img/programme.png')}}" alt="Ordinateurs, clavier et appareil photo">
    </figure>

{% endblock %}
