{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

    <div class="addStudent">

        <h1>FORMATIONS</h1>

        {% if is_granted('ROLE_ADMIN') %}
            {# Lien pour ajouter une nouvelle formation #}
            <a href="{{ path ('new_formation') }}">AJOUTER</a>
        {% endif %}

    </div>

    {% for formation in formations %}

        {# Affiche le titre de la Formation #}
        <a class="btn btn-dark" href="{{ path ('show_formation', {id: formation.id}) }}">{{ formation }}</a><br>
        
    {% endfor %}

    <a class="btn btn-dark" href="{{ path ('app_menu') }}">RETOUR</a>

    <figure>
        <img class="fond" src="{{asset('img/programme.png')}}" alt="Ordinateurs, clavier et appareil photo">
    </figure>

{% endblock %}
