{% extends 'base.html.twig' %}

{% block title %}Détail de la Formation{% endblock %}

{% block body %}

    <h1>DETAIL</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
        </thead>
               
        <tbody>
            <tr>
                <td>{{ formation }}</td>   
                <td>{{ formation.description }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-dark" href="{{ path ('edit_formation', {id: formation.id}) }}">MODIFIER</a>
                        <a class="btn btn-dark" href="{{ path ('delete_formation', {id: formation.id}) }}">SUPPRIMER</a>
                    {% endif %}
                </td>
            </tr>  
        </tbody>

    </table>

    <a class="btn btn-dark" href="{{ path ('app_formation') }}">RETOUR</a>

    <figure>
        <img class="fond" src="{{asset('img/programme.png')}}" alt="Ordinateurs, clavier et appareil photo">
    </figure>

{% endblock %}

